indicatorgen/correlation/__pycache__/
indicatorgen/scrapedata/__pycache__/
indicatorgen/__pycache__/
indicatorgen/config.json
indicatordatasets/
backtest/__pycache__/
backtest/test.py
.vscode/
.pytest_cache/
data.csv
data.ftr
Evaluation.xlsx
~$Evaluation.xlsx
Evaluation on test.xlsx
~$Evaluation on test.xlsx
backtestdfs/